@charset "UTF-8";
.whatAreWeDoing-conteyner {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato; */
}

/* Основной цвет текста */
body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* Кнопки */
.button {
  color: #ffffff;
  background-color: #2196f3;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
}

/* Списки  */
.linkList, .addressList, .clientList, .menu, .teamList, .whatWeDo-list, .particularitiesList, .socialNetworks, .contact, .navigation-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.no-margin {
  margin-bottom: 0;
}

body.modal-open {
  overflow: hidden;
}

.main-header {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 2px solid #ececec;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 26px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .header {
    width: 450px;
    padding-right: 5px;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1170px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: inline;
}
.logo-studio {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 766px) {
  .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    padding-top: 50px;
    padding-left: 40px;
  }
  .navigation.is-open {
    display: block;
    background-color: #ffffff;
  }
}
.navigation-list {
  display: block;
}
@media screen and (min-width: 767px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-right: 650px;
  }
}
@media screen and (max-width: 766px) {
  .navigation-item {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 767px) {
  .navigation-item:not(:first-child) {
    margin-left: 50px;
  }
}
.navigation-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (max-width: 766px) {
  .navigation-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
  }
}
.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
}
.navigation-link_active {
  display: inline-block;
  color: #2196f3;
  margin-right: 0;
}
@media screen and (min-width: 767px) {
  .navigation-link_active:after {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contact-item {
  display: block;
}
.contact-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (max-width: 766px) {
  .contact-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    position: absolute;
    top: 645px;
  }
}
@media screen and (max-width: 766px) {
  .contact-link__phone {
    color: #2196f3;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    position: absolute;
    top: 570px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-item__mrg {
    margin-right: 30px;
  }
}
.contact-icon {
  display: none;
  padding: 0;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  margin-right: 5px;
  vertical-align: center;
}
@media screen and (min-width: 767px) {
  .contact-icon {
    display: inline-block;
  }
}
.contact-svglink:hover > a {
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact {
    position: absolute;
    top: 15px;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 25px;
  }
}

.link:hover,
.list .link:focus {
  color: #2196f3;
}

.link.active {
  display: inline-block;
  color: #2196f3;
  margin-right: 0;
}

.header-button {
  display: inline;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}

.header-button .icon-close {
  display: none;
}

.header-button.is-open .icon-close {
  display: block;
}

.header-button.is-open .icon-menu {
  display: none;
}

.socialNetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 450px) {
  .socialNetworks {
    width: 100%;
  }
}
@media screen and (min-width: 766px) {
  .socialNetworks {
    display: none;
  }
}
.socialNetworks-item {
  display: inline-block;
  width: 100px;
  text-align: center;
  border-right: 1px solid black;
}
.socialNetworks-item:last-child {
  border-right: none;
}
.socialNetworks-item__smallblock {
  width: 70px;
}
.socialNetworks-item__smallblocktwo {
  width: 90px;
}
.socialNetworks-link {
  text-decoration: none;
  color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Герой */
.hero {
  background-color: #212121;
  max-width: 1660px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../adaptive_images/Header imgbackground_phone.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../adaptive_images/Header imgbackground_phone.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../adaptive_images/Header imgbackground_phone_2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../adaptive_images/Header imgbackground_tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../adaptive_images/Header imgbackground_tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../adaptive_images/Header imgbackground_tablet_2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../adaptive_images/Imgbackground_desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../adaptive_images/Imgbackground_desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../adaptive_images/Imgbackground_desktop_2x.jpg");
  }
}
.hero-conteyner {
  width: 100%;
  padding-top: 125px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .hero-conteyner {
    width: 450px;
    height: 400px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero-conteyner {
    width: 738px;
  }
}
.hero-title {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1, 75;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 70px;
  }
}

/* Особливості  */
.particularitys.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 90px;
  padding-top: 90px;
}

.particularitys .item {
  margin-right: 30px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon-antenna-one {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}

.icon-clock-one {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}

.icon-comp {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}

.iconastronaut {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}

.list .title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}

.particularities-conteyner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .particularities-conteyner {
    width: 450px;
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .particularities-conteyner {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .particularities-conteyner {
    width: 1170px;
  }
}

.particularitiesList {
  padding-bottom: 70px;
  padding-top: 70px;
}
@media screen and (min-width: 768px) {
  .particularitiesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px;
    padding-top: 60px;
    margin: auto;
  }
}
@media screen and (max-width: 1199px) {
  .particularitiesList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .particularitiesList {
    padding-bottom: 90px;
    padding-top: 90px;
  }
}
.particularitiesList-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .particularitiesList-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .particularitiesList-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
.particularitiesList-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  width: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-antenna {
  background-image: url(../image/antenna.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  width: 70px;
  height: 70px;
}

.icon-clock {
  background-image: url(../image/clock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  width: 70px;
  height: 70px;
}

.icon-diagram {
  background-image: url(../image/diagram.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  width: 70px;
  height: 70px;
}

.icon-clock {
  background-image: url(../image/clock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  width: 70px;
  height: 70px;
}

.icon-astronaut {
  background-image: url(../image/astronaut.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  width: 70px;
  height: 70px;
}

.whatAreWeDoing {
  display: none;
}
@media screen and (min-width: 1200px) {
  .whatAreWeDoing {
    display: block;
  }
}

.whatWeDo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 75px;
}

.whatAreWeDoing-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.card {
  position: relative;
}

.decorblock {
  background-color: rgba(0, 0, 0, 0.2);
  width: 370px;
  height: 70px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.textcard {
  margin-top: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  line-height: 1;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 25px;
}

.ourteam {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .ourteam {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.ourteam-conteyner {
  width: 100%;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .ourteam-conteyner {
    padding: 15px;
  }
}
@media screen and (min-width: 480px) {
  .ourteam-conteyner {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .ourteam-conteyner {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .ourteam-conteyner {
    width: 1170px;
  }
}
.ourteam-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .teamList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .teamList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.teamList-item {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 3%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) {
  .teamList-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
.teamList-photo {
  width: 100%;
}
.teamList-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0;
}
.teamList-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  width: 207px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  fill: #afb1b8;
  background-color: transparent;
}
.menu-link:not(:nth-last-child(4n)) {
  margin-right: 10px;
}
.menu-link:hover {
  fill: #ffffff;
  background-color: #2196f3;
}
.menu-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.client-conteyner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .client-conteyner {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .client-conteyner {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .client-conteyner {
    width: 1170px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.client-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.clientList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
}
@media screen and (max-width: 1199px) {
  .clientList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.clientList-item {
  display: block;
  height: 92px;
  width: calc((100% - 30px) / 2);
  border-radius: 10px;
  border: 1px solid #afb1b8;
}
@media screen and (min-width: 768px) {
  .clientList-item {
    width: calc((100% - 60px) / 3);
  }
}
.clientList-item:hover {
  border-color: #2196f3;
}
.clientList-icon {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 53px;
  height: 49px;
  fill: #afb1b8;
}
.clientList-item:hover .clientList-icon {
  fill: #2196f3;
}
.clientList-iconfour {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 105px;
  height: 90px;
  fill: #afb1b8;
}
.clientList-item:hover .clientList-iconfour {
  fill: #2196f3;
}
.clientList-iconfive {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 95px;
  height: 65px;
  fill: #afb1b8;
}
.clientList-item:hover .clientList-iconfive {
  fill: #2196f3;
}
.clientList-iconsix {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 105px;
  height: 90px;
  fill: #afb1b8;
}
.clientList-item:hover .clientList-iconsix {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer-conteyner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .footer-conteyner {
    width: 450px;
    height: 600px;
  }
}
@media screen and (min-width: 768px) {
  .footer-conteyner {
    width: 738px;
    height: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteyner {
    width: 1170px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: 5px;
  }
}

.tabletFlex {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .tabletFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tabletFlex {
    padding-left: 90px;
  }
}

.footerLogo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 24px;
}
@media screen and (max-width: 1199px) {
  .footerLogo {
    text-align: center;
  }
}
.footerLogo-studio {
  color: #ffffff;
  background-color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.footerLogo-address {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.71;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
@media screen and (max-width: 1199px) {
  .footerLogo-address {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .addressList {
    text-align: center;
  }
}
.addressList-item {
  font-family: "Roboto";
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.addressList-item:hover {
  color: #2196f3;
}
.addressList .margin {
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .join {
    margin-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 95px;
  }
}

.join-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .join-text {
    text-align: center;
  }
}

.linkList {
  text-align: center;
}
.linkList-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;
}
.linkList-icon:hover {
  background-color: #2196f3;
}
.linkList-icon:not(:nth-child(4n)) {
  margin-right: 10px;
}
.linkList-svg {
  width: 20px;
  height: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
  fill: #ffffff;
}

.formDiv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .formDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.formDiv-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.formDiv-form label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .formDiv-form label {
    text-align: left;
  }
}
.formDiv-form input {
  color: white;
  height: 45px;
  width: 100%;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .formDiv-form input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .formDiv-form input {
    width: 340px;
    margin-right: 10px;
  }
}
.formDiv-button {
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  left: 692px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .formDiv-button {
    margin-top: 35px;
  }
}
.formDiv-button::after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  background-color: var(--accent-color);
  background-image: url(../image/icon\ send.svg);
  background-repeat: no-repeat;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 65, 65, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 100%;
  height: 600px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
    height: 580px;
  }
}
.modal-button {
  position: absolute;
  bottom: -15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #2196f3;
  width: 70%;
  height: 50px;
  /* vertical-align: center; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
}
@media screen and (min-width: 450px) {
  .modal-button {
    width: 216px;
  }
}
.modal-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.modal-iconClose {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: #212121;
  text-align: center;
  vertical-align: middle;
}
.modal-close:hover .modal-iconClose {
  fill: #2196f3;
}
.modal-title {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 35px;
}
@media screen and (max-width: 449px) {
  .modal-title {
    width: 100%;
  }
}
@media screen and (min-width: 450px) and (max-width: 1199px) {
  .modal-title {
    width: 265px;
    height: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1, 5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.form {
  position: relative;
  height: 400px;
  /* outline: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 450px) {
  .form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-field {
  display: block;
  width: 100%;
  outline: none;
  margin-bottom: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
}
.form-field input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  padding-left: 40px;
  border-radius: 3px;
  border: 2px solid grey;
  outline: none;
}
@media screen and (min-width: 450px) and (max-width: 1199px) {
  .form-field input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form-field input {
    width: 450px;
  }
}
.form .textlebel {
  margin-bottom: 5px;
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 450px) {
  .form .textlebel {
    left: 15%;
  }
}
.form input:focus {
  outline: none;
  border: 2px solid #2196f3;
}
.form input:not(:-moz-placeholder-shown) + .textlebel {
  transform: translate(-25px, -50px);
}
.form input:not(:-ms-input-placeholder) + .textlebel {
  transform: translate(-25px, -50px);
}
.form input:focus + .textlebel,
.form input:not(:placeholder-shown) + .textlebel {
  -webkit-transform: translate(-25px, -50px);
          transform: translate(-25px, -50px);
}
.form-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: #212121;
  text-align: center;
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 5px;
  pointer-events: none;
}
@media screen and (min-width: 450px) {
  .form-icon {
    left: 8%;
  }
}

/* аналог .form-field input:focus > .iconvectortwo  */
.form-field:focus-within > .form-icon {
  fill: #2196f3;
}

.formFieldTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.formFieldTwo-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid grey;
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
}
@media screen and (min-width: 480px) {
  .formFieldTwo-text {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .formFieldTwo-text {
    width: 450px;
  }
}
.formFieldTwo textarea:focus {
  outline: none;
  border: 2px solid #2196f3;
}
.formFieldTwo-coment {
  position: absolute;
  top: 0;
  left: 8%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 450px) {
  .formFieldTwo-coment {
    left: 10%;
  }
}

.form textarea:not(:-moz-placeholder-shown) + .formFieldTwo-coment {
  transform: translateY(-30px);
}

.form textarea:not(:-ms-input-placeholder) + .formFieldTwo-coment {
  transform: translateY(-30px);
}

.form textarea:focus + .formFieldTwo-coment,
.form textarea:not(:placeholder-shown) + .formFieldTwo-coment {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .checkbox {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 10px;
    margin-left: 40px;
  }
}
.checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox input:checked + .checkbox-custom {
  background-color: #2196f3;
  background-image: url(../image/iconcheck.svg);
  background-repeat: no-repeat;
  border: 2px solid transparent;
  background-size: contain;
  background-origin: border-box;
  overflow: hidden;
  padding-top: 2px;
}
.checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid grey;
  margin-right: 5px;
  margin-left: 10px;
}
.checkbox-link {
  color: #2196f3;
}/*# sourceMappingURL=adaptive.css.map */