:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-White-color: #ffffff;
}

.page-header {
}

.conteyner {
  width: 1170px;

  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato; */
}

/* Основной цвет текста */
body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/* Кнопки */
.button {
  color: var(--primery-White-color);
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
}

/* Списки  */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.no-margin {
  margin-bottom: 0;
}

/*Header Ссылки навигации */
.head.conteyner {
  display: flex;
  padding-top: 25px;
  padding-bottom: 0px;
  align-items: baseline;
}
.headflex {
  display: flex;
  text-align: center;
}
.headflex .list {
  display: flex;
  margin-left: 105px;
  margin-top: 3px;
}

.nav .item:not(:first-child) {
  margin-left: 50px;
}

.adress.list {
  margin-left: auto;
  margin-bottom: 60px;
}
.adress .item {
  margin-left: 50px;
}

.mailphone-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.mailphone-nav .link {
  padding: 0;
  border: 0;
}
.mailphone-nav .link:nth-child(2n + 1) {
  margin-right: 10px;
}

.mrg {
  margin-right: 30px;
}

.svglink {
  display: flex;
  align-items: flex-end;
}
.headicon {
  display: inline-flex;
  padding: 0;
  vertical-align: middle;
  width: 20px;
  height: 16px;
}

.svglink:hover > a {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.list .link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
}

.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

.list .link.active {
  display: inline-block;
  color: var(--accent-color);
  margin-right: 0;
}
.link.active:after {
  display: block;
  content: "";

  width: 100%;
  height: 5px;

  background-color: var(--accent-color);
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 0;
}
/* Герой */
.hero {
  background-color: var(--title-text-color);
  max-width: 1660px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--primery-White-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  padding-top: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 70px;
}
.conteyner.hero {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.conteyner > .title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}
/* Особливості  */
.particularitys.list {
  display: flex;
  padding-bottom: 90px;
  padding-top: 90px;
}
.particularitys .item {
  margin-right: 30px;
}
.block {
  display: flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: space-around;
}
.icon-antenna-one {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}
.icon-clock-one {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}

.icon-comp {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}
.iconastronaut {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}
/* .particularitys .item::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-image: url(../image/antenna\ 1.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.particularitys .item.one::before {
  background-image: url(../image/clock\ 1.png);
}
.particularitys .item.two::before {
  background-image: url(../image/diagram\ 1.png);
}
.particularitys .item.three::before {
  background-image: url(../image/astronaut\ 1.png);
} */

.list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}
/* Чим ми займаємося */
.what-we-do.list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 75px;
}

.section .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.card {
  position: relative;
}
.decorblock {
  background-color: rgba(0, 0, 0, 0.2);
  width: 370px;
  height: 70px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.textcard {
  margin-top: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  line-height: 1;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 25px;
}
/* Наша Команда*/

.section.ourteam {
  background: #dbdadf;
}
.main-our-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}
.ourteam .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0;
}
.ourteam .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  display: block;
}
.ourteam {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.ourteam .item {
  text-align: center;
  margin-bottom: 112px;
  background-color: #fff;
  border-radius: 3%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ourteam .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.menu {
  display: flex;
  background-color: transparent;
  width: 207px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  fill: #afb1b8;
  background-color: transparent;
}
.btn-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.btn:not(:nth-last-child(4n)) {
  margin-right: 10px;
}

.btn:hover {
  fill: var(--primery-White-color);
  background-color: var(--accent-color);
}

/* Client */
.client .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 95px;
}
.client.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding-bottom: 100px;
}
.child {
  display: block;
  height: 92px;
  width: 170px;
  border-radius: 10px;
  border: 1px solid #afb1b8;
}
.client .child:not(:nth-child(6n)) {
  margin-right: 30px;
}

.iconclient {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 53px;
  height: 49px;
  fill: #afb1b8;
}
.iconclientfour {
  display: flex;
  margin-right: auto;
  margin-left: auto;

  width: 105px;
  height: 90px;
  fill: #afb1b8;
}
.iconclientfive {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 95px;
  height: 65px;
  fill: #afb1b8;
}
.iconclientsix {
  display: flex;
  margin-right: auto;
  margin-left: auto;

  width: 105px;
  height: 90px;
  fill: #afb1b8;
}
.child:hover {
  border-color: var(--accent-color);
}
.child:hover .iconclient {
  fill: var(--accent-color);
}

.child:hover .iconclientfour {
  fill: var(--accent-color);
}
.child:hover .iconclientfive {
  fill: var(--accent-color);
}
.child:hover .iconclientsix {
  fill: var(--accent-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.conteyner.footer {
  display: flex;
  padding-top: 65px;
}
.logo2 {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
.studio2 {
  color: var(--primery-White-color);
  background-color: var(--title-text-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
.adress {
  margin-bottom: 60px;
}
.adrs {
  color: var(--primery-White-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.71;
  line-height: 24px;

  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.mailphone {
  font-family: "Roboto";
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 10px;
}
.mailphone:hover {
  color: var(--accent-color);
}

.footertext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-left: 95px;
}
.footer.list {
  display: flex;
  margin-left: 95px;
}

.icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;
}
.icon:not(:nth-child(4n)) {
  margin-right: 10px;
}

.icon-one {
  width: 20px;
  height: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
  fill: var(--primery-White-color);
}
.icon-two {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  fill: var(--primery-White-color);
}

.icon-three {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  fill: var(--primery-White-color);
}
.icon-four {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  fill: var(--primery-White-color);
}

.icon:hover,
.icon:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 65, 65, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primery-White-color);

  width: 530px;
  height: 580px;
  transform: translate(-50%, -50%);
}
.modalbutton {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--primery-White-color);
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
  padding-top: 10px;
}
