:root {
  --primery-text-color: #757575;
  --primery-title-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
  --footer-color: #2f303a;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
}

/* Основной шрифт боди */
body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14 px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/* Списки */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.conteyner {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato; */
}

/* HEADER */
.outline-header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.head.conteyner {
  display: flex;
  padding-top: 25px;

  padding-bottom: 0px;
  align-items: baseline;
}
.headflex {
  display: flex;
  text-align: center;
}
.headflex .list {
  display: flex;
  margin-left: 105px;
}
.nav .item:not(:first-child) {
  margin-left: 50px;
}

.adress.list {
  margin-left: auto;
  margin-bottom: 60px;
}
.adress .item {
  margin-left: 50px;
}

.mailphone-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.mailphone-nav .link {
  padding: 0;
  border: 0;
}
.mailphone-nav .link:nth-child(2n + 1) {
  margin-right: 10px;
}

.mrg {
  margin-right: 30px;
}

.svglink {
  display: flex;
  align-items: flex-end;
}
.headicon {
  display: inline-flex;
  padding: 0;
  vertical-align: middle;
  width: 20px;
  height: 16px;
}

.svglink:hover > a {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}

.list .link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-title-color);
}

.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

.list .link.active {
  display: inline-block;
  color: var(--accent-color);
  margin-right: 0;
}
.link.active:after {
  display: block;
  content: "";

  width: 100%;
  height: 5px;

  background-color: var(--accent-color);
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 0;
}

/* Main */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

.photo {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  padding-right: 0;
  padding-bottom: 65px;
}

.perent {
  position: relative;
  overflow: hidden;
}
.photo .photocard:hover .perent {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo .photocard:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo .photocard:hover .overlay {
  transform: translatey(-100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  display: block;

  width: 100%;
  height: 300px;

  background-color: var(--accent-color);

  transform: translateY(0);
  transition: transform 250ms ease;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.lorem {
  position: absolute;
  font-family: "Roboto";
  font-style: 400;
  font-size: 18px;
  line-height: 1.7;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--primery-white-color);

  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 60px;
}

.photo .photocard {
  width: calc((100% - 60px) / 3);
}

.photo .photocard:not(:nth-child(3n)) {
  margin-right: 30px;
}

.photo .photocard:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfoliotitle {
  margin: 0;
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
  background-color: var(--secondary-bg-color);

  display: inline-block;
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 6px;
  padding-left: 24px;
  border-radius: 4px;
  border: none;

  margin-right: 10px;
}

.button:hover {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list .title {
  color: var(--primery-title-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 20px;
}

.list .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-left: 20px;
}
.lastchild {
  margin-top: 0;
  margin-bottom: 0;
}

/* Footer */

.footer {
  background-color: #2f303a;
}
.conteyner.footer {
  display: flex;
  padding-top: 65px;
}

.logo2 {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
.studio2 {
  color: var(--primery-white-color);
  background-color: var(--title-text-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

.adrs {
  color: var(--primery-white-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.mailphone {
  font-family: "Roboto";
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.mailphone:hover {
  color: var(--accent-color);
}

.footertext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-left: 95px;
}
.footer.list {
  display: flex;
  margin-left: 95px;
}

.icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;
}
.icon:not(:nth-child(4n)) {
  margin-right: 10px;
}

.icon-one {
  width: 20px;
  height: 20px;
  margin-bottom: 12px;
  margin-top: 12px;
  fill: var(--primery-white-color);
}
.icon-two {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  fill: var(--primery-white-color);
}

.icon-three {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  fill: var(--primery-white-color);
}
.icon-four {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  fill: var(--primery-white-color);
}

.icon:hover,
.icon:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
