:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-White-color: #ffffff;
}

/* Основной цвет текста */
body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/* Кнопки */
.button {
  color: var(--primery-White-color);
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* Списки  */
.list {
  list-style: none;
}

/*Header Ссылки навигации */

.list .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Герой */
.hero.title {
  color: var(--primery-White-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Особливості (section) */

.list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Чим ми займаємося */

.section > .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша Команда*/
.ourteam .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14px;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.ourteam .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* Footer */
.logo2 {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
}
.studio2 {
  color: var(--primery-White-color);
  background-color: var(--title-text-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.adrs {
  color: var(--primery-White-color);
  background-color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mailphone {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
