:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-White-color: #ffffff;
}

.page-header {
}

.conteyner {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}

/* Основной цвет текста */
body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/* Кнопки */
.button {
  color: var(--primery-White-color);
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

/* Списки  */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.no-margin {
  margin-bottom: 0;
}

/*Header Ссылки навигации */
.conteyner.navigetion {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navigetion {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 95px;
}
.site-nav .link {
  margin-left: 50px;
}
.mailphone-nav {
  display: flex;
  margin-left: auto;
}
.mailphone-nav .link {
  margin-left: 50px;
}

.list .link {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Герой */
.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  color: var(--primery-White-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 70px;
}
.conteyner.hero {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.conteyner > .title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}
/* Особливості  */
.particularitys.list {
  display: flex;
  padding-bottom: 90px;
}
.particularitys .item {
  margin-right: 30px;
}

.list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
/* Чим ми займаємося */
.what-we-do.list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 75px;
}

.section .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
/* Наша Команда*/
.section.ourteam {
  background: #dbdadf;
}
.main-our-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}
.ourteam .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.ourteam .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  display: block;
}
.ourteam {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.ourteam .item {
  text-align: center;
  margin-bottom: 112px;
}

.ourteam .item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.card {
  background-color: tomato;
}

/* Client */
.client .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.clientbutton {
  display: inline-block;
  width: 170px;
  height: 92px;
  background-color: rgb(231, 238, 235);
  border: 1px solid tomato;
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.logo2 {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
.studio2 {
  color: var(--primery-White-color);
  background-color: var(--title-text-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

.adrs {
  color: var(--primery-White-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mailphone {
  font-family: "Roboto";
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
