.main-header {
  position: relative;
}

.header {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;

  padding-top: 25px;

  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 60px;
    position: relative;
  }

  @media screen and (min-width: 768px) {
   
    position: relative;
    width: 738px;
    height: 80px;
    
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
  }
}
