.main-header {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 2px solid #ececec;
}

.header {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  

  justify-content: space-between;
  

  @media screen and (min-width: 480px) {
    width: 450px;
    padding-inline-start: 0;
    position: relative;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
    
    width: 738px;

    
    padding-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;

    margin-left: auto;
    margin-right: auto;
  }
}
