.particularities-conteyner {
  @extend %conteyner;
}

.particularitysList {
  @extend %list;
  display: flex;
  padding-bottom: 90px;
  padding-top: 90px;

  &-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &-item {
    margin-right: 30px;
  }

  &-block {
    display: flex;
    height: 120px;
    width: 270px;
    background: #f5f4fa;
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;
  }
}
@include generateicons($icons);
